{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success btn-block" type="submit">Zapisz</button>
    {{ form_end(form) }}
{% endblock %}

{% block title %}
        Konto
{% endblock %}

