{% extends 'base.html.twig' %}

{% block title %}Hello RentController!{% endblock %}

{% block body %}
<table>
    {% for activeRent in activeRents %}
        <tr>
            <td>{{ activeRent.specimen.book.isbn }}</td>
            <td>{{ activeRent.specimen.book.title }}</td>
            <td>{{ activeRent.rentAt|date }}</td>
            <td>
                {{ activeRent.rentTo|date }}
                {% if date('now') > activeRent.rentTo %}
                    Minął termin oddania!
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
